@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

#heading {
  background-image: url("/img/social_post_background.jpg");
  color: white;
  text-align: center;
  background-position: center;
}

.bold-font {
  font-family: "Libre Franklin";
}

.cursive-font {
  font-family: 'Dancing Script', cursive;
}